.home_page_box{
    background-color:rgba(12, 123, 157, 0.7);
    width: 70%;
    padding: 1.5rem;
    border-radius: 0.4rem;
    color: blanchedalmond;
}
.bottone_home{
    background-color: rgb(237, 157, 82)!important;
    color: black!important;
}